
h1{
  margin: 5px 20px;
  font-family: 'Dela Gothic One', cursive;
  text-align: center;
}
p {
  font-family: 'Segoe UI';
  margin: 20px 20px 0px 20px;
}

/**
* Styles for the puzzle
*/
#juego {
  border: 2px solid black;
  padding: 20px;
  float: right;
  margin-right: 320px;
  margin-top: 30px;
}

#juego div {
  width: 100%;
  margin: 0 auto;
  
}

/* style for each square in the puzzle */
#juego .puzzleSquare {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  background-color: white;
  border: 0.5px solid black;
  font: 1em sans-serif;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

#juego .selected {
  background-color: rgb(42, 89, 190);
}

#juego .found {
  background-color: rgb(35, 40, 112);
  color: white;
}

#juego .solved {
  background-color: rgb(209, 65, 21);
  color: white;
}

#juego .complete {
  background-color: green;
}


#Palabras {
  padding-top: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  width: 300px;
  margin-left: 300px;
}

#Palabras ul {
  list-style-type: none;
  margin-top: auto;
}

#Palabras li {
  padding: 3px 0;
  font: 1em sans-serif;
}

#Palabras .wordFound {
  text-decoration: line-through;
  color: gray;
}


#solve {
  margin: 30px 30px 0 400px;
  background: none;
  cursor: pointer;
  font-family: Verdana;
}

#solve:hover{
  color:red;
}